{% extends 'layout.html' %}
{% block body %}

<h1><center>Registrar, {{ student.user.first_name }}</center></h1>
<hr>
<p>Username: {{ student.user.username }}<br>
    Student ID: {{student.s_id}}<br>
    Email: {{ student.user.email }}<br>
</p>
<hr><br>

<table id="table">
    <tr>
        <th></th>
        <th>Subject</th>
        <th>Capacity</th>
        <th>Status</th>

    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.semester }}/{{ subject.year }}</td>
        <td style="border: 1px solid blueviolet; border-collapse: collapse;"><div>{{ subject }}</td>
        <td>{{ subject.capacity }}</td>    
        {% if subject.capacity == 0 %}
            <td>Not available</td>    
        {% else %}
            <td style="border: 1px solid blueviolet; border-collapse: collapse;"><center><a href="{% url 'regist:enroll' subject.sub_id %}">Enroll</a></center></div></td>
        {% endif %}
    </tr>  
    {% endfor %}
</table>
<br>

<!-- <a href="{% url 'regist:sublist' %}">Subject List</a> -->

<a style="text-align: right;" href="{% url 'users:index' %}">Back to home</a>

{% endblock %}